.convert-button {
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  height: 32px;
  border-radius: 10px;
  background: var(--accentColor);
  border: 2px solid var(--second-accentColor);
  cursor: pointer;
}
