* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(35, 54, 34);
  --primaryColor: rgb(163, 190, 159);
  --secondaryColor: rgb(88, 129, 87);
  --accentColor: rgb(218, 165, 32);
  --second-accentColor: rgb(160, 122, 25);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--main-bg-color);
  height: 100vh;
  width: 100%;
}

.container {
  width: 860px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
